<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/bs/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"  />
        <link rel="stylesheet" href="assets/css/main.css">
        <title>StudyAge</title>
    </head>
<body>
     <!-- header -->
     <%- include('./common/header.ejs') %>
     <!-- header ends -->
     <div class="container-sm mt-100">
        <div class="h1 text-shad">
        Android App Developer<hr>
        </div>

     <div class="row gy-5 card-bg1 mt-5 rounded-5 pb-5 justify-content-center">

        <div class="col-sm-4  ">
            <div class="card  " >
                <img class="card-img-top" src="assets/images/skill-set/appdev.jpg" alt="Card image" >
                <div class="card-body">
                  <h4 class="card-title">Android App Developer</h4>
                  <p class="card-text">Some example text some example text. Some example text some example text.                       
                   
                </p>
                <p class="card-footer p-0">Duration - 1 Year</p>
                  <a href="#" class="btn btn-warning">Enroll Now</a>
                </div>
              </div>
        </div>

        <div class="col-sm-12     "  >
            
              
                <h4 id="scrollspyHeading1">What is an App Developer</h4>
                <p>An app developer is a software developer who specializes in creating mobile applications. Mobile apps are designed to run on smartphones, tablets, or other mobile devices and are typically available through app stores or other distribution channels. App developers may work on a variety of platforms, such as Android or iOS, and may use a variety of programming languages and tools.

                  The job of an app developer typically involves working with a team of designers, project managers, and other developers to create an app that meets the needs of its intended audience. This includes understanding the requirements of the app, designing the user interface and user experience, developing the app's functionality, and testing the app to ensure that it works properly. App 
                  developers may also be responsible for integrating the app with backend systems or third-party APIs, as well as deploying and maintaining the app over time.</p>
                
                
                <h4 id="scrollspyHeading2">Android programming languages</h4>
                <p>One of the most notable skills of an Android app developer is their knowledge of different programming languages used to develop apps. Here’s a look at some of the programming languages that mobile app developers use:

                 <h5>Java</h5>
                  For a long time, Java was the official programming language of Android apps. While the preferred language has changed to Kotlin, Java is still a popular language choice of many developers. However, the language is complex and has a high learning curve for beginners. 
                  Due to the popularity of this language, there's a good support community to help developers troubleshoot problems, and it is widely supported by Google’s Play Store.  
                  
                  <h5>Kotlin</h5>
                  Google declared Kotlin the preferred language of Android apps in 2019. Kotlin is an easier language to learn than Java, as it doesn’t have as much complexity or as many nuances, making it easier for developers to pick up. 
                  
                 <h5>Dart</h5>
                  Dart is an up-and-coming language created by Google. The purpose of Dart is to create apps in less time with more built-in features and easy-to-design graphics. This language tends to focus on the user experience too. With the end-user considered during the development, apps tend to be more user-friendly. 
                  
                  <h5>C++</h5>  
                   C++ is still used, but not as an app<sup>'</sup>s main programming language. Some developers like to use it to build certain pieces of an app, but combining it with other languages can create bugs. While budding developers should be aware of this language, other languages will likely take priority. 
                </p>
                <h4 id="scrollspyHeading3">Day to day work of an android app developer</h4>
                <p>As an Android developer, you'll likely spend time collaborating with colleagues, writing code, 
                  troubleshooting tech problems, and working to improve applications. More specifically, daily duties might include: <br><br>

                  - Working with different departments to understand an app's purpose <br><br>
                  
                  - Strategically designing an app's navigation with a focus on the end-user <br><br>
                  
                  - Managing outside data sources and APIs to facilitate app development <br><br>
                  
                  - Writing code to make the app function simply, but with purpose <br><br>
                  
                  - Testing the app and fixing bugs as they arise <br><br>
                  
                  - Reviewing an app with various team members <br><br>
                  
                  - Staying on top of trends in the industry
                </p>
                <h4 id="scrollspyHeading5">Placement</h4>
                <p>100% Placement Guarentee</p>
              
        </div>
        </div>
        </div> 
          
          <!-- footer -->
    <%- include('./common/footer.ejs') %>
    <!-- footer ends -->
    
</body>
</html>