<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/bs/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"  />
        <link rel="stylesheet" href="assets/css/main.css">
        <title>StudyAge</title>
    </head>
<body>
     <!-- header -->
     <%- include('./common/header.ejs') %>
     <!-- header ends -->
     <div class="container-sm mt-100">
        <div class="h1 text-shad">
         BlockChaine Developer<hr>
        </div>

     <div class="row gy-5 card-bg1 mt-5 rounded-5 pb-5 justify-content-center">

        <div class="col-sm-4  ">
            <div class="card  " >
                <img class="card-img-top" src="assets/images/bitcoin_1920.jpg" alt="Card image" >
                <div class="card-body">
                  <h4 class="card-title">Blockchain Developer</h4>
                  <p class="card-text">Some example text some example text. Some example text some example text.                       
                   
                </p>
                <p class="card-footer p-0">Duration - 1 Year</p>
                  <a href="#" class="btn btn-warning">Enroll Now</a>
                </div>
              </div>
        </div>

        <div class="col-sm-12     "  >
            
              
                <h4 id="scrollspyHeading1">What is Blockchain Developer</h4>
                <p>A blockchain is a type of database used to store and organize information. Traditional databases arrange information into rows and columns that make up tables. This makes the information easy for computers to recognize. With blockchains, however, information is digitally formatted and collected into clusters or blocks. Each block has a limited storage capacity.

                  Once that capacity is reached, the block closes and links to the preceding block via cryptography, creating a chain. Cryptography creates an unchangeable timestamp when one block links to another. This permanent record verifies the accuracy of sensitive information like transactions. Traditional databases, on the other hand, are typically controlled by a central
                   authority. Sensitive data may be managed and maintained by an organization or administrator.</p>
                
                   <h4 id="scrollspyHeading2">Core blockchain developer</h4>
                <p>Core blockchain developers develop and maintain the architecture of blockchain systems. They design protocols, 
                  develop security patterns, and supervise the network as a whole. 
                </p>
                <h4 id="scrollspyHeading3">Blockchain software developer</h4>
                <p>lockchain software developers build applications onto existing blockchain platforms. 
                  They handle front-end and back-end development, design, and maintenance. </p>
                
                  <h4 id="scrollspyHeading4">Advantages</h4>
                <p>Demand for blockchain developers is high because they work with disruptive and exciting technology. As a result, job opportunities in this field are abundant. The US Bureau of Labor Statistics (BLS) projects a 22 percent growth in software development jobs between 2020 and 2030 . Studies suggest the blockchains market will climb to over $39 billion by 2025. 

                  Gaining skills surrounding a rapidly growing technology can help make you a more competitive job candidate. Additionally, many blockchain developers' salaries are high paying. Glassdoor reports an average salary of $119,780 per year for blockchain developers in the United States .  
                  
                  <h4 id="scrollspyHeading5">Placement</h4>
                <p>100% Placement Guarentee</p>
              
        </div>
        </div>
        </div> 
          
          <!-- footer -->
    <%- include('./common/footer.ejs') %>
    <!-- footer ends -->
    
</body>
</html>