<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/bs/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"  />
        <link rel="stylesheet" href="assets/css/main.css">
        <title>StudyAge</title>
    </head>
<body>
     <!-- header -->
     <%- include('./common/header.ejs') %>
     <!-- header ends -->
     <div class="container-sm mt-100">
        <div class="h1 text-shad">
         FullStack Web Developer<hr>
        </div>

     <div class="row gy-5 card-bg1 mt-5 rounded-5 pb-5 justify-content-center">

        <div class="col-sm-4  ">
            <div class="card  " >
                <img class="card-img-top" src="assets/images/skill-set/full.jpg" alt="Card image" >
                <div class="card-body">
                  <h4 class="card-title">FullStack</h4>
                  <p class="card-text">Some example text some example text. Some example text some example text.                       
                   
                </p>
                <p class="card-footer p-0">Duration - 1 Year</p>
                  <a href="#" class="btn btn-warning">Enroll Now</a>
                </div>
              </div>
        </div>

        <div class="col-sm-12     "  >
            
              
                <h4 id="scrollspyHeading1">What is FullStack Web Developer</h4>
                <p>Full stack development is the process of designing, creating, testing, and deploying a complete web application from start to finish. It involves working with various technologies and tools, including front-end web development, back-end web development, and database development</p>
                <h4 id="scrollspyHeading2">Front-end</h4>
                <p>Client software, also known as a front end, is a type of software that interacts with users. It is responsible for the graphical user interface (GUI) that users see and interact with. It allows users to access and use the features and functions of the underlying software or system. Client software typically runs on a user's local machine instead of being hosted on a remote server.
                    <br>
                    Several languages can be used for front-end development, including HTML, CSS, and JavaScript. Each language has its strengths and weaknesses, so it's essential to choose the correct language for the task.
                </p>
                <h4 id="scrollspyHeading3">Back-end</h4>
                <p>Server software, also known as the back-end software, is responsible for managing and coordinating the activities of the server. It is responsible for ensuring that the server is up and running and that all the different server components are functioning correctly. Server software also provides an interface for users to interact with the server and for administrators to manage the server.
                     <br>
                     There are a variety of back-end languages that can be used to develop a website or application. PHP, Java, Python, and Ruby are the most popular back-end languages. Each language has its strengths and weaknesses, so it's essential to choose the correct language for the project.
                </p>
                <h4 id="scrollspyHeading4">Advantages</h4>
                <p>The most obvious benefit is that it allows developers to understand the entire web development process thoroughly, and this comprehensive understanding can lead to more efficient and effective development.
                    Another advantage of full-stack development is that it can make development more efficient overall. Full-stack developers can more easily identify potential bottlenecks and issues by thoroughly understanding the front-end and back-end development process. This can help save time and money by preventing development problems before they occur.</p>
                <h4 id="scrollspyHeading5">Placement</h4>
                <p>100% Placement Guarentee</p>
              
        </div>
        </div>
        </div> 
          
          <!-- footer -->
    <%- include('./common/footer.ejs') %>
    <!-- footer ends -->
    
</body>
</html>