<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/bs/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"  />
        <link rel="stylesheet" href="assets/css/main.css">
        <title>StudyAge</title>
    </head>
<body>
     <!-- header -->
     <%- include('./common/header.ejs') %>
     <!-- header ends -->
     <div class="container-sm mt-100">
        <div class="h1 text-shad">
        UI/UX Designer<hr>
        </div>

     <div class="row gy-5 card-bg1 mt-5 rounded-5 pb-5 justify-content-center">

        <div class="col-sm-4  ">
            <div class="card  " >
                <img class="card-img-top" src="assets/images/skill-set/ui.jpg" alt="Card image" >
                <div class="card-body">
                  <h4 class="card-title">UI/UX</h4>
                  <p class="card-text">Some example text some example text. Some example text some example text.                       
                   
                </p>
                <p class="card-footer p-0">Duration - 1 Year</p>
                  <a href="#" class="btn btn-warning">Enroll Now</a>
                </div>
              </div>
        </div>

        <div class="col-sm-12"  >
            
              
                <h4 id="scrollspyHeading1">What is an UI/UX designer?</h4>
                <p><h5>UX Desgin</h5>
                  Simply put, user experience design is the process of planning the experience a person has when they interact with a product. <br>
                  UX design focuses on the interaction that a human user has with everyday products and services. The goal of UX design is to make using these products and services, 
                  both digital or physical, easy, logical, and fun. <br><br>
                  As a user experience designer, you’re responsible for users' overall satisfaction with a product. Think of yourself as the customer’s advocate, always looking for ways to improve the customer’s experience. <br><br>
                  As a UX designer working at a smaller company, you’ll likely have a more general role with responsibility for each step of the design process. At a larger company, you might focus on one specialty or facet of UX design, like information architecture, UX research, usability analysis, UX writing, UX engineering, or interaction design. 

                  As you gain experience, you’ll have the opportunity to advance within your specialization to become a UX subject matter expert (SMX) or move into a managerial role as a project manager, product manager, or director of user experience. <br> <br>
                  As a UX designer working at a smaller company, you’ll likely have a more general role with responsibility for each step of the design process. At a larger company, you might focus on one specialty or facet of UX design, like information architecture, UX research, usability analysis, UX writing, UX engineering, or interaction design. 

                  As you gain experience, you’ll have the opportunity to advance within your specialization to become a UX subject matter expert (SMX) or move into a managerial role as a project manager, product manager, or director of user experience.

                  <br> <br><h5>UI Desgin</h5>
                  UI (User Interface) design is the user-centered approach to designing the aesthetics of a digital product. In essence, they create the look and feel of a website or 
                  application's user interface. An interface is the graphical layout of the application. These interfaces should not only be functional, but they should be easy to use and visually appealing.
                  If you’re passionate about design and interested in product development and web design work, then a career in UI could be a good fit. Working in this field gives you the opportunity to work in a collaborative environment to create solutions to real-world problems. <br> <br>
                  According to Glassdoor, the national average salary for a UI Designer in India is ₹5,04,622 . The average salary for a senior UI designer is ₹8,51,418 . Companies must create websites and mobile apps to represent their businesses, and internet penetration in India is still under 50 per cent . This means UI designers should have plenty of opportunities for work.
                </p>
                                  
                <h4 >Is UI/UX a good career ?</h4>
                <p>In short, yes. <br><br>

                  UX / UI is a good career field to get into if you are both a technical and creative thinker. You also get to help people as you improve the products they use on a daily basis! <br><br>
                  
                  But those aren’t the only reasons to get into UX / UI design. Here are some of the top reasons why UX / UI is a good career. <br> <br>
                  
                 <b>In demand</b>  — UX / UI designers are in high demand, and the job outlook is good. This is true especially in regards to websites and apps. If people can’t figure out how to use them, it can negatively impact business. <br>
                 <b>Salary</b>  — The field offers a good starting salary with opportunities for growth. <br>
                 <b>Technical skills</b>  — Anyone with desire and motivation can learn the technical skills that UX / UI designers need to thrive in their careers. <br>
                 <b>Soft skills</b>  — Skills like communication, collaboration, and flexibility are just as important as hard skills. This is great news for career changers who bring these skills and prior knowledge to the table. <br>
                 <b>Empathy</b>  — The field is all about helping others and solving problems to everyday tasks. If you’re looking for a career that allows you to make a difference, you can do that through UX / UI design.                </p>
                
                
                <h4 id="scrollspyHeading5">Placement</h4>
                <p>100% Placement Guarentee</p>
              
        </div>
        </div>
        </div> 
          
          <!-- footer -->
    <%- include('./common/footer.ejs') %>
    <!-- footer ends -->
    
</body>
</html>