<div class="container-fluid bg-black   mt-200" >
    <div class="row  text-white lh-lg">
   
       <div class="col-sm-4 "><h5 class="text-white"><u>Home Services</u></h5>
                       <ul class="p-1">
                           <li><a class="text-decoration-none" href="">Cleaning</a></li>
                           <li><a class="text-decoration-none" href="">Professional Electricians</a></li>
                           <li><a class="text-decoration-none" href="">Professional Grooming</a></li>
                       </ul>   
       </div>
       <div class="col-sm-4 "><h5 class="text-white"><u>Follow Us :</u></h5>
           <i class="icofont-instagram"></i><i class="icofont-twitter"></i><i class="icofont-whatsapp"></i>
       </div>
       <div class="col-sm-4 "> <h5><u>Contact us :</u></h5>
       <address>PremNagar, bhoot gali <br>Kholi no. 420</address>
       </div>
   
       
    </div>
   </div>

   
<script src="../assets/bs/js/bootstrap.bundle.min.js"></script>
<script>

document.getElementById("bttn").onclick=chng=>{
    document.getElementById("bttn").innerHTML=`<i class="bi bi-menu-button-wide-fill"></i>`
};
 

</script>